/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}








/* my css */
body{
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: dimgray;
}
body > *{
  text-align: center;
}

h1{
  justify-self: center;
  align-self: center;
  font-size: 200%;
  grid-column: 2;
  grid-row: 1;
  margin-top: 50px;
}

section{
  justify-self: center;
  align-items: center;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

label{
  font-size: 130%;
}


form, h2, section a, ul, h4{
  width: 100%;
}
input{
  width: 90%;
  height: 30px;
}

#result{
  color: rgb(118, 1, 1);
}

h2, #result {
  font-size: 150%;
}

footer{
  justify-self: center;
  align-self: center;
  grid-column: 2;
  grid-row: 3;
}
footer a{
  color: black;
  text-decoration: none;
}
span{
  margin-left: 10px;
}
#wiki{
  text-align: center;
  color: lightgreen;
  font-size: 120%;
  margin-top: 50px;
  margin-bottom: 10px;
}

form{
  margin-bottom: 5%;
}

input{
  margin: 2% 0;
}

h3{
  color: lightgreen;
  font-size: 150%;
  margin: 0 auto;
}

li{
  color: rgb(118, 1, 1);
  font-size: 120%;
}
